*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeExperianceMAinDiv{
    padding: 100px 0 80px 0;
    display: flex;
    flex-direction: column;
gap: 60px;
}
.HomeExperienceH2{
    font-size: 38px;
    color: #030303;
    font-weight: normal;
          font-family: "EB Garamond", serif;

}
.HomeExperienceA{
text-decoration: none;
}
