*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HeaderMainDiv{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.HeaderH1{
    font-size: 150px;
     font-family: "East Sea Dokdo", sans-serif;
     line-height: 110%;
     letter-spacing: -10%;
}
.HeaderUl{
    display: flex;
    gap: 4px;
}
.HeaderLi{
    list-style: none;
    font-size: 37px;
}
.HEaderA{
    text-decoration: none;
    color: #030303;
}
@media (max-width:1279px){
    .HeaderMainDiv{
        width: 800px;
        

    display: flex;
    align-items: start;
    justify-content: space-between;
}
}