*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeToStartMainDiv{
    display: flex;
    align-items: start;
    padding: 30px 0 60px 0;
    gap: 20px;
}
.HomeToStartP{
        font-size: 20px;
    font-weight: bold;
      font-family: "EB Garamond", serif;
      color: #030303;
      width: 50%;
}
.HomeOystersP{
        font-size: 20px;
    font-weight: normal;
      font-family: "EB Garamond", serif;
      color: #030303;
}
.HomeToStartdiv{
    width: 50%;
    display: flex;
    align-items: start;
justify-content: space-between;
}
.HomeHalfDozenP{
    font-size: 20px;
    font-weight: normal;
      font-family: "EB Garamond", serif;
    line-height: 35px;
    color: #222222;
}