*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ButtonDiv{
display: flex;
align-items: center;
gap: 10px;
}
.btn1{
width: 134px;
height: 58px;
background-color: black;
padding: 20px 30px;
border-radius: 2px; 
color: #EBC1AE;
font-size: 11px;
font-style: italic;
}
.btn2{
 width: 170px;
height: 58px;
background-color: black;  
padding: 20px 30px;
border-radius: 2px; 
color: #EBC1AE;
font-size: 11px;
font-style: italic;
}